wsdl/drawingrequest_ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:drawingrequest="http://finstar.com/nsi/ws/drawingrequest"
                  targetNamespace="http://finstar.com/nsi/ws/drawingrequest">
    <wsdl:types>
        <xs:schema xmlns="http://finstar.com/nsi/ws/drawingrequest"
                   targetNamespace="http://finstar.com/nsi/ws/drawingrequest"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified">

            <xs:element name="WSInputDrawingRequest">
                <xs:complexType>
	    	      <xs:sequence>
	    	          <xs:element name="clubId" type="xs:long"/>
	    	          <xs:element name="specialCardId" type="xs:long"/>
	    	      </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="WSOutputDrawingRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="requestResult" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>


    <wsdl:message name="makeDrawingRequestRequest">
        <wsdl:part name="parameters" element="drawingrequest:WSInputDrawingRequest"/>
    </wsdl:message>
    <wsdl:message name="makeDrawingRequestResponse">
        <wsdl:part name="parameters" element="drawingrequest:WSOutputDrawingRequest"/>
    </wsdl:message>

    <wsdl:portType name="DrawingRequestPort">
        <wsdl:operation name="makeDrawingRequest" parameterOrder="req">
            <wsdl:input message="drawingrequest:makeDrawingRequestRequest"/>
            <wsdl:output message="drawingrequest:makeDrawingRequestResponse"/>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="DrawingRequestSoapBinding" type="drawingrequest:DrawingRequestPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="makeDrawingRequest">
            <soap:operation soapAction="urn:makeDrawingRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="DrawingRequestService">
        <wsdl:port name="DrawingRequestService" binding="drawingrequest:DrawingRequestSoapBinding">
            <soap:address location="http://localhost:8080/nsi/services/DrawingRequestService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
